[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
toml = "*"
aiohttp = "*"
mercadopago = "*"
qrcode = "*"
segno = "*"
sqlalchemy = "*"

[dev-packages]
ruff = "*"
isort = "*"
blue = "*"

[requires]
python_version = "3.11"
